<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <consolePlugin />

  <logger name="au.com.phiware.math" level="warn" />

  <appender name="tree" class="ch.qos.logback.core.FileAppender">
    <file>tree.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="au.com.phiware.ga.Tree" level="warn" additivity="false" append="false">
    <appender-ref ref="tree" />
  </logger>
</configuration>