selection(colour, shadow)
  &::selection
    background   colour
    text-shadow  shadow
  &::-moz-selection
    background   colour
    text-shadow  shadow

container(colour)
  fill           colour
  fill-opacity   0.681
  stroke         colour
  stroke-width   1.5px
  selection      invert(colour) none

circle.FuzzyParticipantContainer
  container      steelblue

circle.Haploid
  container      crimson

circle.Process
  stroke         lime
  stroke-width   3px

circle
  stroke         rgba(200, 200, 200, 0.2)
  fill           rgba(200, 200, 200, 0.1)

svg
  fill           none
  stroke         black
  *
    transition   all 200ms

article
  text-align     center
