extends layout

block content
  article
    svg(width=960, height=960, id='pipeline')
    section
      div
        button Pause
        input(type='checkbox', id='stepthru')
        label(for='stepthru') Step
